[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sanic = "*"
dependency_injector = "*"

[dev-packages]
pytest = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.6"
